{% extends 'base.html.twig' %}
{% block title %} Symphart Articles {% endblock %}

{% block body %}
   <h1>{{ article.title }}</h1>
   <h1>{{ article.body }}</h1>
   <hr>
   <a href="../">Go Back</a>
{% endblock %}